<div class="container">
    <div class="row">
      <div class="col-lg"></div>
      <div class="col-lg-6">
        <!-- en el init() lo añado en el login.component.ts mirarlo-->
        <form (ngSubmit)="init()" #forma="ngForm">
          <h1>Inicio de sesión</h1>
          <p>Introduzca los credenciales para iniciar la sesión</p>
          <p class="psw">
            ¿No tienes cuenta? Entra
            <a href="#">aquí</a> para crearla gratis
          </p>
          <hr />
          <label for="email"><b>Correo electrónico</b></label>
          <!--pattern es la propiedad para añadir expresiones irregulares-->
          <input
            type="email"
            #email="ngModel"
            [(ngModel)]="login.email"
            placeholder="Introduzca el correo electrónico"
            name="email"
            class="form-control"
            required
            [ngClass]="{'is-valid': !email.invalid, 'is-invalid': email.invalid}"
            pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"

          />
          <!--añadiendo una capa para poner alert danger -->
          <div class="alert alert-danger" *ngIf="email.invalid &&(email.dirty || email.touched)">
          <div *ngIf="email.errors.required">
          Introduzca un correo electrónico válido por favor
          </div>
          <div *ngIf="email.errors && email.errors.pattern">
            El correo electrónico no tiene el formato correcto. Sigue este ejemplo: tu@gmail.com
          
          </div>
          </div>

          <label for="password"><b>Contraseña</b></label>
          <input type="password" #password="ngModel" [(ngModel)]="login.password" placeholder="Introduzca la contraseña"
            name="password" required class="form-control" required
            [ngClass]="{'is-valid': !password.invalid, 'is-invalid': password.invalid}" />
          <!--añadiendo una capa para poner alert danger -->
          <div class="alert alert-danger" *ngIf="password.invalid &&(password.dirty || password.touched)">
            <div *ngIf="password.errors.required ">
              Introduzca una contraseña válida por favor
              </div>

          </div>
          <div class="row">
            <div class="col-lg">
              <button type="submit" [disabled]="!forma.valid" class="signup-btn">Iniciar sesión</button>
            </div>
          </div>
          <div class="more-options">
            <p class="psw">
              ¿Has olvidado la <a [routerLink]="['/forgot']">contraseña?</a>
            </p>
          </div>
        </form>
      </div>
      <div class="col-lg"></div>
    </div>
  </div>