<!--https://marketplace.visualstudio.com/items?itemName=thekalinga.bootstrap4-vscode --trabajaremos con los snipers de bootstrap instalados al principio  dejaremos que el header ocupe todo el ancho nos basamos en https://www.w3schools.com/bootstrap4/default.asp -->
<!--el container-fluid quiere decir que ocupa todo el ancho-->
<!--USAREMOS LA ESTRUCTURA FLEX LA DEL BETTWEENN PARA HACER 3 COLUMNAS-->
<div class="navbar navbar-light" style="background-color: #1c2370;" >
 <div class="d-flex justify-content-between">
    <div >
        <!--logotipo Columna1-->
        <img class="logotype" src="/assets/img/logos/rey.png" alt="logotipo de la tienda" />
        
    </div>
    <div>
        <!--p para añadir contenido Columna2-->
        <p> WWW.HOJASOFT@GMAIL.COM </p>
    </div>
    <!--usamos el flex para ordenar horizontal de izquiueda a derecha-->
    <div class="d-flex flex-row-reverse">
        <!--a para añadir enlace Columna3 ojo si escribo <a class="nav" me sale pa elejir el a y me rellena automaticamente > nos pondra de manera vertical y con flex lo pondremos de manera horizontal-->
        <!--<a class="nav-link active" href="#">Active link</a>-->  <a class="nav-link active" href="#">Quienes somos</a>
          <!--<a class="nav-link" href="#">Link</a>--> <a class="nav-link" href="#">Ofertas</a>
          <!--<a class="nav-link disabled" href="#">Disabled link</a>--> <a class="nav-link disabled" href="#">Webs de exito</a>
       
    </div>
    
 </div>
 </div>