/* ojo el * hace referencia a todo el componenteeee*/
* {
    color: rgba(252, 251, 251, 0.8);
}

/*especificamos el logotipo*/

.logotype{
    width: 25%;
    text-align:left;
    /**el margen los px va en giro a la vuelta de  reloj*/
    margin: 0px 0 5px 10px;
}

p,a{
    position:relative;
}

p{
    top:25%;
}

a{
    top:14%;
}