<!--ojo para la carga el aviso al abrir las pag de videojuegos si no 
queremos ver el aviso quitar el * ngIf="infoPage && !loading
del container-fluid dejarlo sin el *ngIf .... pilas 
ver el games.component.html y quitar lo relacionado al aviso--> 
<div class="container-fluid" *ngIf="infoPage && !loading">
    <app-product-category-list
    [title]="gamesPageInfo.title"
    [productsList]="productsList"
    [description]="gamesPageInfo.description"
    >
    </app-product-category-list>
    <div class="d-flex justify-content-between p-2 ">
        <ngb-pagination
        
            [collectionSize]="infoPage.total"
            [(page)]="selectPage"
            (pageChange)="loadData()"
            [pageSize]="infoPage.itemsPage"
            [maxSize]="15"
            
        >
        </ngb-pagination>
    
        <select class="custom-select" style="width: auto" 
      [(ngModel)]="infoPage.itemsPage"
      (ngModelChange)="loadData()">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="15">15 items per page</option>
        <option [ngValue]="16">16 items per page</option>
        </select>
    </div>

</div>

