<footer>
    <hr>
<div class="container text-center">
        <address>
                <p>Hojasoft tienda de tiendas ¡¡Tu web-app-publica y vuela!!</p>
                <p>copyright www.Hojasoft.com</p>
                <p>Creadores Jhonatan Alvaro Oto</p>
                <p>
                    Calle Finca Monte San Martin, 28939 - Madrid (Arroyomolinos)<br/>
                    Tel:916xxxxxx / 677876xxx - Contacto: hojasoft@gmail.com
                    <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contacta con nosotros</a>
                </p>

        </address>
    
    <!--Añadiremos los iconos realizaremos lista de los elementos de los iconos de face, youtube etc-->
   <ul class="social nav justify-content-center">
       <li>
        <a href="https://youtube.com" target="_blank">
        <img src="/assets/img/icons/youtube.png" alt="Canal de la tienda en youtube">
        </a>
      </li>
      <li>
        <a href="https://twitter.com" target="_blank">
        <img src="/assets/img/icons/twitter.png" alt="Canal de la tienda en twitter">
        </a>
      </li>
      <li>
        <a href="https://facebook.com" target="_blank">
        <img src="/assets/img/icons/facebook.png" alt="Canal de la tienda en facebook">
        </a>
      </li>
    </ul>

</div>
</footer>
